
#mybtn{
    text-decoration: none;
}
.contact{
    background: linear-gradient(#262B40 , #87b5d8);
}
.contact-container{

  
    width: 90vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 500;
    color: #e8eaeb;
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
border: none;
width: 150px;
height: 5px;
background-color: hsl(164, 91%, 43%);
border-radius: 10px;
margin-bottom: 20px;

}

.contact-inputs{
   
    width: 100%;
    height: 50px;
    border: none;
outline: none;
padding-left: 25px;
font-weight: 500;
color: #262B40; 
border-radius: 50px;
}
.contact-left textarea{
    height: 100%;
    width: 100%;
    padding-top: 15px;
    border-radius: 20px;
   
    
}
.contact-inputs:focus{
    border: 3px solid #3c729c;
}

.contact-inputs::placeholder{
    color: #262B40;
    font-weight: 500;
    font-size: larger;
    font-weight: bolder;
font-style: oblique;
}

.contact-left button{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
 align-items: center;
margin-left: 25%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(270deg, #2039c6 , #5997c6);
}
@media (max-width: 1400px) {
    .contact-container {
        padding: 10px;
    }
    .contact-left-title h2 {
        font-size: 30px;
    }
    .contact-inputs {
        font-size: 24px;
        padding: 8px;
    }
    button {
        font-size: 20px;
        padding: 8px;
    }
}

@media (max-width: 600px) {
    .contact-container {
        padding: 10px;
    }
    .contact-left-title h2 {
        font-size: 10px;
    }
    .contact-inputs {
        font-size: 14px;
        padding: 8px;
    }
    button {
        font-size: 16px;
        padding: 8px;
    }
}
@media (max-width: 400px) {
    .contact-container {
        padding: 10px;
    }
    .contact-left-title h2 {
        font-size: 30px;
    }
    .contact-inputs {
        font-size: 15px;
        padding: 8px;
    }
    button {
        font-size: 20px;
        padding: 8px;
    }
}
@media (max-width: 1600px) {
    .contact-container {
        padding: 10px;
    }
    .contact-left-title h2 {
        font-size: 40px;
    }
    .contact-inputs {
        font-size: 25px;
        padding: 8px;
    }
    button {
        font-size: 25px;
        padding: 8px;
    }
}